* {
    box-sizing: border-box;
    /* outline: dotted tomato; */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #c8c8c8;
}

body {
    display: grid;
    place-content: center;
}

.content-container {    
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 19.8125em;
    margin: 0 auto;
    background-color: #1A1B21;
    border-radius: 12px;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* ----- INFO ----- */

.info__main {
    padding-block: 1.35em;
    text-align: center;
}

.info__name {
    font-size: 1.5625rem;
    font-weight: 700;
    color: #FFF;
}

.info__job-title {
    padding-block: 0.25em;
    font-size: 0.75rem;
    font-weight: 400;
    color: #F3BF99;
}

.info__website {
    padding-block: 0.888em;
    font-size: 0.64rem;
    font-weight: 400;
    color: #F5F5F5;
}

.info__btn-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.5em;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.28em;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
}

.info__icon--email {
    background: #FFF;
    color: #374151;
}

.info__icon--linkedin {
    background: #5093E2;
    color: #FFF;
}

/* ----- ABOUT ----- */
/* ----- INTERESTS ----- */

.about__container,
.interests__container {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

.about__title,
.interests__title {
    font-size: 1rem; 
    font-weight: 700;
    color: #F5F5F5;
    padding-block: .25em;
}

.about-title {
    margin-top: 1em;
}

.about__content {
    margin: 0.5em 0 1.5em 0;
}

.interests__content {
    margin-bottom: 4em;
}

.about__content,
.interests__content {
    font-size: 0.64em;
    font-weight: 400;
    letter-spacing: 0.25px;
    color: #DCDCDC;
}

/* ----- FOOTER ----- */

footer {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-block: 1em;
    border-radius: 0 0 10px 10px;
    background: #161619;
}

.footer__icon {
    color: #918E9B;
}
