/**
 * ------------------------------------------
 * Stylesheet for [Digital Business Card]
 * 
 * Author: Tak
 * Date Created: [2023-7-19]
 * Last Updated: [2023-10-20]
 * 
 * Notes:
 * - Initial design based on the business card theme.
 * - Focused on React setup, accessibility and CSS animations.
 * ------------------------------------------
 */

* {
    box-sizing: border-box;
    /* outline: dotted tomato; */
}

:root {
    /* Backgrounds */
    --main-bg: #f5f5f5;
    --content-bg: #2a2b31;

    /* Text */
    --primary-text: #FFFFFF;
    --secondary-text: #DCDCDC;
    --tertiary-text: #F3BF99;
    
    /* Buttons */
    --clr-email: #f5c9aa;
    --clr-email-hover: #f8d4bb;
    --clr-email-active: #f2be99; 

    --clr-linkedin: #0E76A8;
    --clr-linkedin-hover: #1787b8; 
    --clr-linkedin-active: #065a88; 
    
    /* Animation */
    --transition-settings: all 0.3s ease-in-out;

    /* Footer */
    --footer-icon-color: #f5f5f5;
    --footer-gradient-start: #9f7c63;
    --footer-gradient-end: var(--content-bg);
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg);
}

body {
    display: grid;
    place-content: center;
}

.content-container { 
    width: 20em;
    margin: 0 auto;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);   
    border-radius: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--primary-text);
    background-color: var(--content-bg);
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}


/* ----- INFO ----- */

.info__container img {
    display: block;
    width: 100%;
}

.info__main {
    padding-block: 1.35em;
    text-align: center;
}

.info__name {
    font-size: 1.55rem;
    font-weight: 700;
}

.info__job-title {
    padding-block: 0.5em;
    font-size: 0.75rem;
    color: var(--tertiary-text);
}

.info__website {
    padding: 0.35em 0;
    margin: 0.25em 0;
    border-bottom: 2px solid transparent;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--secondary-text);
    text-decoration: none;
    transition: var(--transition-settings);
}

.info__website:hover {
    padding-bottom: 0.33em;
    border-bottom-color: var(--secondary-text); 
}

.info__website:active {
    color: var(--primary-text); 
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.info__btn-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0.5em auto 0;
    padding-top: 0.5em;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    border-radius: 6px;
    border: none;
    font-size: 0.875rem;
    text-decoration: none;
    transition: var(--transition-settings);
}

.info__icon--email {
    color: var(--content-bg);
    background: var(--clr-email);
}

.info__icon--email:hover {
    background: var(--clr-email-hover);
    transform: scale(1.05);
}

.info__icon--email:active {
    background: var(--clr-email-active);
    transform: scale(0.95);
}

.info__icon--linkedin {
    background: var(--clr-linkedin);
    color: var(--primary-text);
}

.info__icon--linkedin:hover {
    background: var(--clr-linkedin-hover);
    transform: scale(1.05);
}

.info__icon--linkedin:active {
    background: var(--clr-linkedin-active);
    transform: scale(0.95);
}


/* ----- ABOUT ----- */
/* ----- INTERESTS ----- */


.section__container {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

.section-title {
    padding-block: .25em;
    font-size: 1rem; 
    font-weight: 700;
    color: var(--primary-text);
}

.about-content {
    margin: 0.5em 0 1.5em 0;
}

.interests-content {
    margin-bottom: 3.5em;
}

.about-content,
.interests-content {
    font-size: 0.725rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: var(--secondary-text);
}


/* ----- FOOTER ----- */


@keyframes glowingEffect {
    0% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(247, 247, 247, 0.8));
    }
    100% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    }
}

footer {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-block: 1em;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to top, var(--footer-gradient-start), var(--footer-gradient-end));
}

.footer__icon {
    display: inline-block;
    color: var(--footer-icon-color);
    transition: var(--transition-settings);
}

.footer__icon:hover {
    transform: scale(1.05);
    animation: glowingEffect 2s infinite alternate;
} 

.footer__icon:active {
    transform: scale(0.95);
    animation: glowingEffect 2s infinite alternate;
}